html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #121212;
  /* Cor do fundo principal*/
  color: #E0E0E0;
  /* Cor do texto principal */
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #BB86FC;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.content-block {
  /* Fundo roxo com baixa opacidade */
  background-color: rgba(187, 134, 252, 0.15);

  padding: 2.5rem;
  border-radius: 8px;
  margin-top: 2rem;
  margin-bottom: 2rem;

  /* Efeito de "vidro fosco" */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  /* Borda sutil usando a mesma cor, mas com um pouco mais de opacidade */
  border: 1px solid rgba(187, 134, 252, 0.1);
}

.project-content-block {
  /* Fundo preto com alta opacidade */
  background-color: rgba(1, 1, 1, 0.7);

  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
  margin-bottom: 1rem;

  /* Efeito de "vidro fosco" */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  /* Borda sutil usando a mesma cor, mas com um pouco mais de opacidade */
  border: 1px solid rgba(187, 134, 252, 0.1);
}

.footer-content-block {
  /* Fundo roxo com baixa opacidade */
  background-color: rgba(187, 134, 252, 0.15);


  /* Efeito de "vidro fosco" */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  /* Borda sutil usando a mesma cor, mas com um pouco mais de opacidade */
  border: 1px solid rgba(187, 134, 252, 0.1);
}

.title.text-gradient {
  /* 1. Define o fundo como um degradê linear da esquerda para a direita */
  background-image: linear-gradient(to right, #6b00d79f, #6b00d7ce);

  /* 2. "Corta" o fundo para que ele só ocupe o formato do texto */
  -webkit-background-clip: text;
  background-clip: text;

  /* 3. Deixa a cor do texto transparente para que o fundo (degradê) apareça */
  color: transparent;

  /* 4. (Opcional) Ajuda a garantir que o fundo cubra todo o texto */
  display: inline-block;
}

/* Personalizando os botões */
.button.is-primary {
  background-color: #BB86FC;
  border-color: transparent;
  color: #1a1a1d;
}

.button.is-primary:hover {
  background-color: #a96ef9;
  /* Um tom um pouco mais escuro para o hover */
  border-color: transparent;
}

.button.is-primary-outlined {
  background-color: transparent;
  border-color: #BB86FC;
  color: #BB86FC;
}

.button.is-primary-outlined:hover {
  background-color: #BB86FC;
  color: #1a1a1d;
  border-color: #BB86FC;
}